/* CARRITO */
.table {color: beige;}

.submenu {color: beige;
    position: relative;
    list-style: none;
    
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    color: white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: #17181b;
    padding: 20px;
}
.vacio {
    padding: 10px;
    background-color: $color-titulos;
    text-align: center;
    border-radius: 10px;
    color: rgb(17, 17, 17);
}


a.borrar-platillo //X eliminar producto
{
padding: 5px 10px;
text-decoration: none;
font-weight: bold;
color: beige;
}
